@import '../../styles/colors';
@import '../../styles/mixins/text';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  width: 100%;
  color: $text-primary;
  background-color: $white;
  border-radius: 8px;
  height: min-content;

  h1 {
    @include text(32px, 32px, 600);
  }

  p {
    @include text(16px, 24px, 400);
  }
}
