$white: #fff;

$lightest-gray: #f5f5f5;
$light-gray: #e0e0e0;
$gray: #333;

$light-orange: #ffa375;
$orange: #f50;
$dark-orange: #e94e00;

$text-primary: #1b1f23;
$border-default: #e1e3e6;
$icon-default: #999fa6;
